<!DOCTYPE html
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="author" content="Rafaël De Jongh">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="WebCalc is here to inform you about website prices. With our handy Website Calculator, you will easily be able to figure out what a website might cost you!">
<meta property="og:locale" content="en">
<meta property="og:type" content="website">
<meta property="og:title" content="Web Calc | The Easy Website Price Calculator">
<meta property="og:description" content="WebCalc is here to inform you about website prices. With our handy Website Calculator, you will easily be able to figure out what a website might cost you!">
<meta property="og:url" content="https://webcalc.ga">
<meta property="og:site_name" content="Web Calc | The Easy Website Price Calculator">
<meta property="og:image" content="https://webcalc.ga/assets/images/Web-Calc-Banner.png">
<meta property="og:image:secure_url" content="https://webcalc.ga/assets/images/Web-Calc-Banner.png">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:image:alt" content="WebCalc is here to inform you about website prices. With our handy Website Calculator, you will easily be able to figure out what a website might cost you!" />
<meta property="fb:app_id" content="2116108148668685" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="WebCalc is here to inform you about website prices. With our handy Website Calculator, you will easily be able to figure out what a website might cost you!">
<meta name="twitter:title" content="Web Calc | The Easy Website Price Calculator">
<meta name="twitter:site" content="@Rafael_De_Jongh">
<meta name="twitter:image" content="https://webcalc.ga/assets/images/Web-Calc-Banner.png">
<meta name="twitter:creator" content="@Rafael_De_Jongh">
<link rel="canonical" href="https://webcalc.ga">
<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="192x192" href="assets/images/favicon/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/images/favicon/site.webmanifest">
<link rel="mask-icon" href="assets/images/favicon/safari-pinned-tab.svg" color="#2e2a29">
<link rel="shortcut icon" href="assets/images/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Web Calc">
<meta name="application-name" content="Web Calc">
<meta name="msapplication-TileColor" content="#2e2a29">
<meta name="msapplication-TileImage" content="assets/images/favicon/mstile-144x144.png">
<meta name="msapplication-config" content="assets/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#1c1919">
<link rel="stylesheet prefetch" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" >
<link rel="stylesheet" href="assets/css/style.css">
<title>Web Calc | The Easy Website Price Calculator</title>
</head>
<body>
<header>
	<img src="assets/images/webcalc-logo.svg" alt="Web Calc Logo"/>
</header>
<main id="webcalc">
	<aside>
		<h2>Estimated Price:</h2>
		<label>&euro;1000 to &euro;3000 excl. VAT</label>
	</aside>
	<section id="calculator">
		<h1>The Easy Website Price Calculator</h1>
		<form class="calcForm" action="#">
			<!--Type of Site-->
			<label for="sitetype">What type of site do you want? <a href="#" tooltip-info="Info about type of site."><i class="fas fa-info-circle"></i></a></label>
			<div class="selectbox">
				<select id="sitetype" name="sitetype">
					<option value="standard">Standard</option>
					<option value="ecommerce">E-Commerce</option>
					<option value="customProduction">Custom Production</option>
				</select>
			</div>
			<!--Design Choise-->
			<label for="design">What kind of design? <a href="#" tooltip-info="Info about what kind of design  you need."><i class="fas fa-info-circle"></i></a></label>
			<div class="selectbox">
			<select id="design" name="design" v-model="designChoices">
				<option value="template">Template</option>
				<option value="custom">Custom Design</option>
			</select>
			</div>
			<transition name="fade">
				<h2 v-if="designChoices == 'custom'">Show new labels</h2>
			</transition>
			<!--Amount of Pages-->
			<label for="amountPages">How many pages do you require? <a href="#" tooltip-info="Info about how much pages you need or want."><i class="fas fa-info-circle"></i></a></label>
			<input id="amountPages" name="amountPages" type="number" value="1" min="1" max="250"/>
			<!--CopyWriting-->
			<label for="copywriting">Do your pages need copywriting?</label>
			<input class="copywriting" name="copywriting" type="radio" id="copywrite-yes" value="yes"><label for="copywrite-yes">Yes</label>
			<input class="copywriting" name="copywriting" type="radio" id="copywrite-no" value="no"><label for="copywrite-no">No</label>
			<!--Features-->
			<label for="features">Do you require any of the following features?</label>
			<ul id="features">
				<li><input class="features" name="features" type="checkbox" id="seo" value="seo"><label for="seo">Search Engine Optimisation (SEO)</label></li>
				<li><input class="features" name="features" type="checkbox" id="smo" value="smo"><label for="smo">Social Media Optimisation (SMO)</label></li>
				<li><input class="features" name="features" type="checkbox" id="security" value="security"><label for="security">Security Setup</label></li>
				<li><input class="features" name="features" type="checkbox" id="caching" value="caching"><label for="caching">Caching &amp; Compression setup</label></li>
				<li><input class="features" name="features" type="checkbox" id="cdn" value="cdn"><label for="cdn">Content Delivery Network (CDN) Setup</label></li>
				<li><input class="features" name="features" type="checkbox" id="server" value="server"><label for="server">Server/Webhost Setup</label></li>
				<li><input class="features" name="features" type="checkbox" id="mail" value="mail"><label for="mail">Mail Setup</label></li>
				<li><input class="features" name="features" type="checkbox" id="gallery" value="gallery"><label for="gallery">Image/Sliders gallery</label></li>
				<li><input class="features" name="features" type="checkbox" id="pagebuilder" value="pagebuilder"><label for="pagebuilder">PageBuilder Support)</label></li>
				<li><input class="features" name="features" type="checkbox" id="contactform" value="contactform"><label for="contactform">Contact Form</label></li>
				<li><input class="features" name="features" type="checkbox" id="multilingual" value="multilingual"><label for="multilingual">Multilingual support</label></li>
				<li><input class="features" name="features" type="checkbox" id="backup" value="backup"><label for="backup">Backup (Offsite/Server side backup configuration)</label></li>
			</ul>
			<!--Development Speed-->
			<label for="speed">How fast do you need it build?</label>
			<div class="selectbox">
			<select id="speed" name="speed">
				<option value="fast">Less than a 1 month</option>
				<option value="normal">Around 1 to 2 months</option>
				<option value="slow">More than 2 months</option>
			</select>
			</div>
		</form>
	</section>
	<section id="price">
		<h2>Why exactly does a website has this price?</h2>
	</section>
</main>
<button id="totop" v-if="isVisible" @click="backToTop"></button>
<footer id="copyright">Copyright &copy; {{new Date().getFullYear()}} | Web Calc | <a href="https://www.rafaeldejongh.com" target="_blank">www.RafaelDeJongh.com</a> | All Rights Reserved.</footer>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="assets/js/index.js"></script>
</body>
</html>