@charset "utf-8";
/*Content Table:
------------------
- Body
	- Content
  - Forms
- FadeInOnLoad
- MediaQueries
- Links
- Scrollbar
- Selection

Rafael De Jongh's Personal Reset v0.3 - github.com/RafaelDeJongh/Rafael-CSS-Reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,a,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,summary,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;background:transparent}html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*,::before,::after{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}::before,::after{text-decoration:inherit;vertical-align:inherit;-webkit-backface-visibility:hidden}body{line-height:1;font-family:sans-serif;position:relative;height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}nav{list-style:none}ul{list-style-type:disc;padding-left:25px}ol{list-style-type:decimal;padding-left:25px}blockquote,q{quotes:none;margin:1em}blockquote:before,blockquote:after,q:before,q:after{content:none}address{margin:1.5em 0}summary{display:list-item}table{border-collapse:collapse;border-spacing:0}hr{display:block;box-sizing:content-box;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}h1,h2,h3,h4,h5,h6{clear:both;margin:.5em 0 .35em}h1{font-size:2em}h2{font-size:1.8em}h3{font-size:1.6em}h4{font-size:1.4em}h5{font-size:1.2em}h6{font-size:.9em}a{background:transparent;-webkit-text-decoration-skip:objects;text-decoration:none;border-bottom:1px solid}a:active,a:hover{outline-width:0}b,strong,optgroup{font-weight:700}ins{text-decoration:underline}del{background-color:#f44336;text-decoration:line-through}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;text-decoration:none}abbr[title],dfn[title],acronym{text-decoration:none;border-bottom:1px dotted;cursor:help}dfn{font-style:italic}code,kbd,tt,var,pre,samp{font-family:monospace,monospace;font-size:1em}pre{max-width:100%;overflow:auto;padding:.6em}input,select{vertical-align:middle}textarea{overflow:auto;resize:vertical}input,textarea,button{padding:.3em .5em}button,input,select,textarea{outline:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;cursor:pointer;border:none}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{outline:1px dotted ButtonText}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}::-webkit-input-placeholder{color:inherit;opacity:.54}[type="file"]{padding-left:0}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;border:none;outline:0;padding:.3em .5em;cursor:pointer}[disabled]{cursor:not-allowed}fieldset{border:1px solid #bbb;margin:.5em 0;padding:.8em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;white-space:normal;padding:0;border:0}img{display:block;border-style:none;height:auto;max-width:100%;-webkit-backface-visibility:hidden}svg:not(:root){overflow:hidden}video{height:55vw;width:100%;max-width:100%;min-height:65%}audio,canvas,progress,video,iframe{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}

/*Body
------------------*/
body{
	width:100%;
	min-height:100%;
	color:#111;
	background-color:#2E2A29;
}
/*Header
------------------*/
header img{max-height:120px}

/*Content
-------------*/

/*FadeInOnLoad
------------------*/
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}
@-moz-keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes fadeIn{from{opacity:0}to{opacity:1}}
main{
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	   -moz-animation:fadeIn ease-in 1;
	        animation:fadeIn ease-in 1;
	-webkit-animation-fill-mode:forwards;
	   -moz-animation-fill-mode:forwards;
	        animation-fill-mode:forwards;
	-webkit-animation-duration:.5s;
	   -moz-animation-duration:.5s;
	        animation-duration:.5s;
	-webkit-animation-delay:.4s;
	   -moz-animation-delay:.4s;
	        animation-delay:.4s;
}
/*MediaQueries
------------------*/
@media screen and (max-width:770px){

}
@media screen and (max-width:480px){

}
@media screen and (max-width:385px){

}
/*Links
-------------*/
a,a:visited{
	color:#111;
	text-decoration:none;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease
}
a:active, a:hover{color:#555}
/*Scrollbar
-------------*/
::-webkit-scrollbar{width:12px;height:12px;background-color:rgba(0,0,0,.05);border-radius:5em}
::-webkit-scrollbar-corner{background-color:rgba(0,0,0,.05)}
::-webkit-scrollbar-track{background-color:rgba(0,0,0,.05);border-radius:5em}
::-webkit-scrollbar-thumb{background:#c2b49a;border-radius:5em}
::-webkit-scrollbar:horizontal{height:12px}
/*Selection
-------------*/
::selection{color:#fff;background-color:#c2b49a}
::-moz-selection{color:#fff;background-color:#c2b49a}
